@import "tailwindcss";

@theme {
  --color-omnitrix-black: #222222;
  --color-omnitrix-dark: #328336;
  --color-omnitrix-green: #3bff00;
  --color-omnitrix-lime: #b2e05b;
  --color-omnitrix-white: #fbfbfd;
}